*.o
*.lo
Makefile
gst/.deps/
agent/.deps/
agent/.libs/
agent/Makefile
agent/libagent.la
config.h
config.log
config.status
docs/Makefile
docs/reference/Makefile
docs/reference/libnice/Makefile
examples/.deps/
examples/Makefile
examples/sdp-example
examples/simple-example
examples/threaded-example
st/.deps/
st/Makefile
libtool
nice/.libs/
nice/Makefile
nice/libnice.la
nice/nice.pc
random/.deps/


random/.libs/
random/Makefile
random/libnice-random.la
socket/.deps/
socket/.libs/
socket/Makefile
socket/libsocket.la
stamp-h1
stun/.deps/
stun/.libs/
stun/Makefile
stun/libstun.la
stun/tests/.deps/
stun/tests/Makefile
stun/tools/.deps/
stun/tools/Makefile
stun/tools/stunbdc
stun/tools/stund
stun/usages/.deps/
stun/usages/.dirstamp
tests/.deps/
tests/Makefile
